<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="no4gift.opgg.mapper.MyMapper">

    <insert id="updateChampList" parameterType="java.util.List">
        INSERT INTO champList
        (champName , champId)
        VALUES
        <foreach collection="list" item="item" separator=",">
            ( #{item.champName}, #{item.champId})
        </foreach>
    </insert>

    <select id="getChampNamelistFromId" parameterType="list" resultType="string">
        SELECT champName
        FROM champList
        WHERE champId in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        ORDER BY field (champId,
        <foreach collection="list" item="item" separator=",">
             #{item} 
        </foreach>
        )
    </select>

    <insert id="saveData" parameterType="java.util.List">
        INSERT INTO lol_board
        (gameId , gameCreation, title, name , K, D, A, champ, victory)
        VALUES
        <foreach collection="list" item="item" separator=",">
        (#{item.gameId}, #{item.gameCreation}, #{item.title}, #{item.name}, #{item.champK}, #{item.champD}, #{item.champA}, #{item.champName}, #{item.victory})
        </foreach>
    </insert>

    <select id="checkDup" resultType="long">
        SELECT gameId gameId
        FROM lol_board
        WHERE gameId = #{id}
        Limit 1
    </select>

</mapper>