<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="no4gift.opgg.mapper.MyMapper">

    <insert id="updateChampList" parameterType="java.util.List">
        INSERT INTO champList
        (champName , champId, champNameKR)
        VALUES
        <foreach collection="list" item="item" separator=",">
            ( #{item.champName}, #{item.champId} , #{item.champNameKR})
        </foreach>
    </insert>

    <insert id="getspellList" parameterType="java.util.List">
        INSERT INTO spellList
        (spellId , spellName)
        VALUES
        <foreach collection="list" item="item" separator=",">
            ( #{item.spellId}, #{item.spellName})
        </foreach>
    </insert>

    <insert id="getruneList" parameterType="java.util.List">
        INSERT INTO runeList
        (runeId , runeName, runeIcon)
        VALUES
        <foreach collection="list" item="item" separator=",">
            ( #{item.Id}, #{item.name}, #{item.icon})
        </foreach>
    </insert>

    <select id="getChampNamelistFromId" parameterType="list" resultType="no4gift.opgg.domain.ChampListVO">
        SELECT champName,champNameKR, champId
        FROM champList
        WHERE champId in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        ORDER BY field (champId,
        <foreach collection="list" item="item" separator=",">
             #{item} 
        </foreach>
        )
    </select>

    <select id="getSpellNameFromId" parameterType="list" resultType="string">
        SELECT spellName
        FROM spellList
        WHERE spellId in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        ORDER BY field (spellId,
        <foreach collection="list" item="item" separator=",">
             #{item} 
        </foreach>
        )
    </select>

    <select id="getRuneNameFromId" parameterType="list" resultType="string">
        SELECT runeIcon
        FROM runeList
        WHERE runeId in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        ORDER BY field (runeId,
        <foreach collection="list" item="item" separator=",">
             #{item} 
        </foreach>
        )
    </select>

    <insert id="saveData" parameterType="java.util.List">
        INSERT INTO lol_board
        (gameId , gameCreation, title, name , K, D, A, champ, victory)
        VALUES
        <foreach collection="list" item="item" separator=",">
        (#{item.gameId}, #{item.gameCreation}, #{item.title}, #{item.name}, #{item.champK}, #{item.champD}, #{item.champA}, #{item.champName}, #{item.victory})
        </foreach>
    </insert>

    <select id="checkDup" resultType="long">
        SELECT gameId gameId
        FROM lol_board
        WHERE gameId = #{id}
        Limit 1
    </select>

    <delete id="modifyChampList">
        DELETE FROM champList
    </delete>

    <delete id="modifySpellList">
        DELETE FROM spellList
    </delete>

    <delete id="modifyRuneList">
        DELETE FROM runeList
    </delete>

</mapper>